﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.contentList {
    font-size: 1.8em;
    padding: 10px;
}

td, th {
    padding-right: 20px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }

    .contentList{
        font-size: inherit;
        padding: inherit;
    }
}
